<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./bootstrap-5.2.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>

<body>
    <div class="container box rounded-4 w-25 h-100">
        <div class="m-0 p-0">
            <form action="/" method="POST">
                <h1 class="text-center">LOGIN</h1>
                <input class="w-100 mb-2 rounded-2" type="text" placeholder="Username" name="username">
                <input class="w-100 mb-2 rounded-2" type="password" placeholder="Password" name="password">
                <button class="w-100 mb-2 rounded-2" type="submit">Login</button>
            </form>
        </div>
    </div>

</body>

</html>